{:doing->done
 {:id "k2",
  :type "note",
  :content {:status "done", :completed "2026-05-02T12:00:00-0300"},
  :tags ["kanban" "done"],
  :updated "2026-05-02T12:00:00-0300"},
 :metadata-only
 {:id "k3",
  :type "note",
  :content {:status "doing"},
  :tags ["kanban" "doing"],
  :kg-incoming ["edge1" "edge2"],
  :updated "2026-05-02T12:00:00-0300"},
 :todo->doing
 {:id "k1",
  :type "note",
  :content
  {:status "doing", :title "T", :started "2026-05-02T12:00:00-0300"},
  :tags ["kanban" "doing" "scope:project:hive"],
  :updated "2026-05-02T12:00:00-0300"}}
